<div class="wrapper_top_button">
    <div class="icon_user">
        <a routerLink="/user" routerLinkActive="active"><img class="icon_img_user" src="../../assets/plus.png" alt=""/></a>
    </div>
    <div class="icon_settings">
        <a routerLink="/cards" routerLinkActive="active"><img  src="../../assets/heart.png" alt=""/></a>
    </div>
</div>

<h2 *ngFor="let user of userInfo" class="user_name">{{user.name}}</h2>

<div class="user_image_wrapper">
    <div *ngFor="let image of userImages" class="user_image" (click)="gotoDetail(image)">
        <img [src]="image.imageUrl">
        <div class="comments_overlay">
            <img src="../../assets/heart.svg" class="comments_overlay_image">
            <div class="comments_overlay_number">{{image.comments}}</div>
        </div>
    </div>
</div>
